.insert-page-builder-element {
    text-align: center;
    border: 1px solid blue;
    width: 100%;
    cursor: pointer;
}

.page-buider-element-placeholder {
    padding: 0.5em;
    border-radius: 0.1em;
    background-color: lightgray;
}

body > *:not(.insert-page-builder-element):hover {
    outline: 1px solid blue;
}
