.insert-page-builder-element {
    text-align: center;
    border: 1px solid blue;
    width: 100%;
    cursor: pointer;
}

body > *:not(.insert-page-builder-element):hover {
    outline: 1px solid blue;
}
